
<section class="plan-container">

    <section class="plan-container-header">
        <article class="current-plan">Current plan: {{Account.currrentPlan.name}}</article>
        <section class="">
            <article></article>
            <progress-bar-plan></progress-bar-plan>
        </section>
    </section>

</section>

<form action="<%- paypal.paypalUrl %>" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="charset" value="utf-8">

    <input type="hidden" name="notify_url" value="<%- paypal.notifyUrl %>">
    <input type="hidden" name="return" value="<%- paypal.returnUrl %>{{Account.user.token}}">
    <input type="hidden" name="cancel_return" value="<%- paypal.cancelUrl %>{{Account.user.token}}">
    <input type="hidden" name="business" value="<%- paypal.paypalBusinessEmail %>">

    <input type="hidden" name="item_name" ng-value="Plans.selectedPlan.name">
    <input type="hidden" name="amount" ng-value="Plans.selectedPlan.price">
    <input type="hidden" name="quantity" ng-value="Plans.selectedPlan.duration">
    <input type="hidden" name="item_number" ng-value="Plans.selectedPlan.id">
    <input type="hidden" name="custom" ng-value="Account.user.id">

    <input type="image" name="submit" border="0" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="PayPal - The safer, easier way to pay online">
</form>