<!DOCTYPE html>
<html ng-app="<%- angular.module %>">
	<head>

	<!-- meta -->
		<title>CubbyHole - <%- headers.title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Lang" content="fr">
		<meta charset="UTF-8">
		<meta name="description" content="<%- headers.description %>"/>
		<!-- if partials used -->
		<meta name="fragment" content="!">
	<!-- meta -->

	<!-- design -->
		<!-- styles -->
		<link rel="stylesheet" href="/styles/core.css">
		<!-- styles -->
		<!-- fonts -->
		<!-- fonts -->
	<!-- design -->

	</head>
	<body ng-controller="OverlayController">
		<section id="body" ng-controller="<%- angular.controller %>">

			<!-- header -->
	        <%- include ../partials/ejs/header.ejs %>
			<!-- header -->

			<!-- content -->
	        <%- body %>
			<!-- content -->
		
		</section>

		<section id="overlay" ng-class="{ activated: Overlay.activated }" ng-click="Overlay.clickout();"></section>

		<!-- scripts -->
			<!-- libraries -->
    		<%- include [[javascripts.libraries]] %>
			<!-- libraries -->
			<!-- features -->
    		<%- include [[javascripts.features]] %>
    		<%- include [[javascripts.core]] %>
			<!-- features -->
		<!-- scripts -->

	</body>
</html>
