<!DOCTYPE html>
<html>
	<head>

	<!-- meta -->
		<title>CubbyHole - <%- headers.title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Lang" content="fr">
		<meta charset="UTF-8">
		<meta name="description" content="<%- headers.description %>"/>
		<!-- if partials used -->
		<meta name="fragment" content="!">
	<!-- meta -->

	<!-- design -->
		<!-- styles -->
		<link rel="stylesheet" href="/styles/core.css">
		<link rel="stylesheet" href="/styles/components/modal.css">
		<!-- styles -->
		<!-- fonts -->
		<!-- fonts -->
	<!-- design -->

	</head>
	<body ng-controller="<%- angular %>">

		<!-- header -->
        <%- include ../partials/ejs/header.ejs %>
		<!-- header -->

		<section class="modal">
			<div class="modal-content">
				<h3>Modal Dialog</h3>
				<div>
					<p>This is a modal window. You can do the following things with it:</p>
					<ul>
						<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
						<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
						<li><strong>Close:</strong> click on the button below to close the modal.</li>
					</ul>
					<button class="md-close">Close me!</button>
				</div>
			</div>
		</section>

		<!-- content -->
        <%- body %>
		<!-- content -->
	
		<section id="overlay"></section>

		<!-- scripts -->
			<!-- libraries -->
    		<%- include [[javascripts.libraries]] %>
			<!-- libraries -->
			<!-- features -->
			<!-- un script casse les couilles je sais pas le quel... -->
    		<!-- <%- include [[javascripts.features]] %> -->
			<!-- features
		<!-- scripts -->

	</body>
</html>
